/* product.css */

body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('background/rabbit-ducklings-green-grass.jpg');
}

header {
    background-color: #4B0082;
    color: white;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.products {
    padding: 40px;
    text-align: center;
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 65px;
    flex-wrap: wrap;
}

.product-item{
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.product-item img:hover {
    opacity: 0.8;
}

.video-section {
    padding: 40px 20px;
    
    text-align: center;
}

.video-section h2 {
    color: white;
    font-size: 28px;
    margin-bottom: 30px;
}

.video-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.video {
    flex: 1 1 45%;
    max-width: 600px;
}

.video iframe {
    width: 100%;
    height: 315px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Responsive */
@media (max-width: 768px) {
    body{background-image: url('background/rabbit-ducklings-green-grass.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;}

    .video {
        flex: 1 1 100%;
    }
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
    background-color: #4b0082;
    color: white;
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.quick-links, .contact-info {
    width: 45%;
    
    font-size: 17px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
}

.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links ul li a {
    color: white;
    text-decoration: none;
}

.social-media a {
    color: white;
}

footer p {
    text-align: center;
    color: white;
    margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 1024px) {
    body{background-image: url('background/rabbit-ducklings-green-grass.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    .header-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
    .contact {
        width: 90%;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .quick-links, .contact-info {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .contact {
        width: 95%;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .quick-links, .contact-info {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 22px;
    }
    .contact {
        width: 100%;
    }
}
